.bienvenida {
  text-align: center;
  padding: 100px;
}

.bienvenida-mytechnology {
  color: #00adb5;
  font-family: rubik;
  text-align: center;
  padding: 50px;
}

.bienvenida-h3 {
  text-align: center;
  padding: 100px;
}
