@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap");

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root,
.logo {
  font-family: rubik !important;
  text-transform: none !important;
  font-size: 18px !important;
  border: none !important;
  color: #00adb5 !important;
}

.navbar-button {
  background-color: #222831 !important;
  border-color: #00adb5 !important;
  color: #00adb5 !important;
}

.navbar-button:hover {
  color: white !important;
  border: white solid 1px !important;
}
