.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #222831;
  height: 80px;
  align-items: center;
}

.footer-button {
  border: none;
  background-color: transparent;
  color: white;
}
